.flex {
}

.welcome {
  width: 100%;
  height: 100%;
}
.heroes, .credits {
  -webkit-transition: all .25s; /* Safari */  transition: all .5s;
}
.heroes { color: #9c27b0; }
.heroes:hover { color: rgb(255,64,129); }
.credits:hover { color: #9c27b0; }
