<div class="mdl-grid flex">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
        <div class="welcome demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Workout tracker</h1>
            </div>
            <div class="mdl-card__supporting-text">
                This app was created to satisfy people that want to record their workouts and share
                results with geek-friends. Yes... Only geek, becuse to use this app you need to have
                <a href="http://www.github.com" target="_blank" class="credits">GitHub</a> account to log in.<br>
                <br>
                Imagine you are on the gym, and as on standard usual day you want to record your progress.
                You do it for yourself. But... Your friends sitting on the couch and watching TV. In the same time you
                add your workout they can see that you work hard looking after your healthy lifestyle. They might think
                that if others are on gym they should also try to be more active.<br>
                <br>
                Eventually - <strong>you will help people with this app!</strong>
            </div>
            <div class="mdl-card__menu welcome-button">
                <button class=" mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
        <div class="welcome demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" [ngSwitch]="auth.authenticated">
                <h1 *ngSwitchWhen="true" class="mdl-card__title-text">Add workout</h1>
                <h1 *ngSwitchWhen="false" class="mdl-card__title-text">Login using GitHub</h1>
            </div>
            <div class="mdl-card__supporting-text">
                Add your workout while you are on gym so your friends can see it in <strong>real-time</strong>.<br>
                <br>
                Record the type of workout day (muscle part), exercise type, how many reps & sets with weight.
            </div>
            <div class="mdl-card__actions mdl-card--border" [ngSwitch]="auth.authenticated">
                <button *ngSwitchWhen="true" [routerLink]=" ['Private', 'Add Workout'] "
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">

                    <i class="material-icons">add</i>
                    Record your workout
                </button>
                <sign-in *ngSwitchWhen="false" [authenticated]="auth.authenticated"
                         (signInWithGithub)="signInWithGithub()"></sign-in>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">

        <div class="welcome demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Technology & Authors</h1>
            </div>
            <div class="mdl-card__supporting-text">
              <a title="Ultra Secret Agent" href="https://github.com/przemek-k" target="_blank" class="heroes">Przemyslaw Kalka</a><br>
                <a title="Uber Secret Agent" href="https://github.com/marianzburlea" target="_blank" class="heroes">Marian Zburlea</a><br>
                <a title="Super Secret Agent" href="https://github.com/sipek" target="_blank" class="heroes">Dominik Sipowicz</a><br>
                <br>
                Credits:<br>
                <a href="https://github.com/angular/angular2-seed.git" target="_blank" class="credits">Angular2 Seed</a>
                <a href="https://github.com/angular/angularfire2" target="_blank" class="credits">AngularFire2</a>
                <a href="https://github.com/ngrx/store" target="_blank" class="credits">@ngrx/store</a>
                <a href="https://github.com/angular/material2.git" target="_blank" class="credits">Material2</a>
                <a href="https://angular.io/docs/ts/latest/cookbook/dynamic-form.html" target="_blank" class="credits">Dynamic Form</a>
                <a href="https://codepen.io/pudgereyem/pen/PqBxQx" target="_blank" class="credits">Material Select Css</a>

            </div>
        </div>

    </div>
</div>

