select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.32);
  border: none;
  height: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  border-radius: 0;
  margin-top: 10px;
}
select:hover { cursor: pointer; }
select:focus { outline: none }
.mdl-selectfield label {display: none;}
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: .375em solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}
