<div>
  <form (ngSubmit)="onSubmit()" [ngFormModel]="form">
    <div *ngFor="let question of questions" class="form-row">
      <df-question [question]="question"
                   (changeTo)="changeMuscleGroups($event)"
                   [form]="form"
                   [submitted]="submitted"></df-question>
    </div>
    <br>
    <div class="form-row">
      <button md-raised-button color="warn" type="submit">Publish</button>
    </div>
  </form>
  <!--<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>-->
</div>
